@font-face {
    font-family: appleSystem;
    src: url(../fonts/SFPro-Latin/SFProDisplay-Light.ttf);
}

body {
    font-family: appleSystem;
}

#app {
    height: calc(100vh - 56px);
    width: 100vw;
    background-image: url(../src/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    overflow: hidden;
}

.lists_container::after {
    content: "";
    display: table;
    clear: both;
}

.boardTab {
    position: relative;
}

.addList_button {
    position: absolute;
    top: 15px;
    right: 13px;
}

.task-list_wrapper {
    width: 272px;
    height: calc(100vh - 215px);
    background-color: #fff;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
    padding: 10px 15px;
    position: relative;
}

.task_list {
    list-style-type: none;
    padding: 0;
}

.cardContainer {
    position: relative;
    margin-bottom: 8px;
}

.task {
    width: 100%;
    height: 35px;
    background-color: #f1f1f8;
    border-radius: 3px;
    margin: 0 auto;
    padding: 5px 10px !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.cardNameText {
    width: calc(100% - 25px);
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardOptionsButton {
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0%, -50%);
}

.cardOptionsButton svg {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    fill: #bbb
}

.addNewCardSection {
    width: 242px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.dropShadow {
    width: 100px;
    height: 50px;
    background-color: #000000;
    opacity: 0.5;
}

.dragging {
    opacity: 0.4;
}

.closeEditCardButton {
    position: absolute;
    bottom: -1px;
    right: 13px;
}

.addNewCardSection .close {
    /* background-color: red; */
    position: absolute;
    bottom: -3px;
    right: 8px;
}

.toast {
    position: absolute;
    top: 20px;
    left: 20px;
}

.list-tile_section {
position: relative;
}

.list-tile_section .close {
    position: absolute;
    bottom: 9px;
    right: 30px;
}